# ==========================================================
# Copyright (c) 2026 COPYxMUSIC 
# All Rights Reserved.
#
# Project      : COPYxMUSIC API Telegram Music Bot
# Powered By   : Copy
# Type         : API Based Telegram Music Bot
#
# Bot          : @COPYxMUSIC_BOT
# Channel      : https://t.me/CopymusicOfficial
# GitHub       : 
#
# Unauthorized copying, modification, or redistribution
# of this source code without permission is prohibited.
# ==========================================================
API_ID=30501172
API_HASH=cc89acaacea12fc68e6996676771a411
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=
ARTISTBOTS_API_URL=
ARTISTBOTS_KEY=
